.hero-image {
  width: 125px;
  height: 125px;
}
.hero-image :hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5);
}

.card {
  max-width: 150px;
  float: left;
  margin: 10px;
  text-align: center;
  border-radius: 8px;
  transition: transform 0.2s;
}

.card :hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5);
}
